<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Paciente</title>
    <link rel="stylesheet" href="perfil.css">
</head>
<body>
    <h1>Perfil del Paciente</h1>
    <div class="perfil-container">
        <div class="avatar-container">
            <img class="profile-avatar" src="https://img.freepik.com/premium-vector/cartoon-image-boy-with-blue-shirt-yellow-background_1173110-2206.jpg" alt="Avatar">
        </div>
        
        <h2>Datos Personales</h2>
        <p><strong>Nombres: Karla Isabella</strong></p>
        <p><strong>Apellidos: Sandoval Lopez</strong></p>
        <p><strong>Edad: 4 años</strong></p>
        <p><strong>Sexo: Femenina</strong></p>
        <p><strong>Fecha de Nacimiento: 01/10/2021</strong></p>
        <p><strong>Lugar de Nacimiento: Valencia, Estado Carabobo.</strong></p>
        <p><strong>Dirección: Avenida Bolivar Norte, Urb. Bello Monte</strong></p>
        <p><strong>Evaluación: Paciente con antecedentes de asma controlada</strong></p>
        <p><strong>Piel: Palida, Hidratada, sin lesiones visibles</strong></p>
        <p><strong>Peso: 28 kg.</strong></p>
        <p><strong>Talla: 120 cm.</strong></p>
        <p><strong>Temperatura: 36.5 ºC</strong></p>
        <p><strong>Cardio: Ritmo cardiaco regular.</strong></p>
        <p><strong>Abdomen: Blando, depresible</strong></p>
        <p><strong>Laboratorio: Hemoglobina 13.5 g/dl</strong></p>
        <p><strong>SNC: Orientado, reflejos normales</strong></p>
        <p><strong>Inmunizaciones: Vacunas al dia segun nacional</strong></p>
        <p><strong>IDX: Renitis alergica breve</strong></p>
    </div>
    
    <div class="perfil-container" id="espacio">
        <h2>Datos del Representante</h2>
        <p><strong>Nombre y Apellido: Lorena Garcia</strong></p>
        <p><strong>Edad: 37 años</strong></p>
        <p><strong>Cédula: 16948552</strong></p>
        <p><strong>Sexo: Femenina</strong></p>
        <p><strong>Teléfono: +58 4125579633</strong></p>
        <p><strong>Dirección: Avenida Bolivar Norte, Urb. Bello Monte</strong></p>

    </div>

   <div class="father-container">
     <div class="child-container">
        <a href="">Volver a principal</a>
     </div>
    </div>

</body>
</html>